body{
  color: #fff;
}
h1
{
	color: #fff;
}

h5
{
	color:#fff;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
p {
  font-size: 14px;
  color: #666;
}

h2
 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
